/* -----------
Header section style
----------- */
header{
    background-color: #4a4c4f;
}
.navbar-icon{
    color: white ;
}
/*---------------
 Squads section style 
---------------- */

.aus-players{
    display: flex;
}
.bd-players{
    /* By default bd players hidden */
    display: none;
}
.aus-btn{
    width: 100%;
    padding-left: auto;
    background-color: rgba(128, 128, 128, 0.15);
    font-weight: bold;
}
.bd-btn{
    width: 100%;
    padding-left: auto;
}

/* --------------------
Photo gallary syle  
----------------------*/
.photo-card:hover>img{
    transition: transform 1s linear 0s;
    transform: scale(1.2);
}
/* navbar-icon in small device */
